
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body Styling */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

/* Calculator Styling */
.calculator {
    width: 300px;
    padding: 20px;
    background: #333;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.display {
    font-size: 2em;
    color: #fff;
    background: #444;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: right;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.buttons {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    padding: 20px;
    background: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 1.5em;
    cursor: pointer;
    transition: background 0.3s;
}

.btn:active {
    background: #777;
}

.operator {
    background: #ff8c00;
}

.operator:active {
    background: #ffa500;
}

#clear {
    grid-column: span 2;
    background: #d9534f;
}

#clear:active {
    background: #c9302c;
}

#equals {
    grid-column: span 2;
    background: #5cb85c;
}

#equals:active {
    background: #4cae4c;
}
